{% extends "layouts/core/base_employee_view.html" %}
{% block content%}
<h4>Convocatorias </h4>
<a href="save">
    <button class="btn btn-succes" style="background-color:#087F8C;color:white">Añadir</button>
</a>


<div class="row">

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4"></div>
    <div class="table-responsive etable">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha inicio</th>
                    <th>Fecha fin</th>
                    <th colspan="">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for c in convocatories %}
                <tr>
                    <td>{{ c.convocatory_name }}</td>
                    <td>{{ c.start_date }}</td>
                    <td>{{ c.closing_date }}</td>
                    <td><a href="edit/{{c.convocatory_id}}" class="btn btn-info">Editar</a></td>
                    <td><a href="delete/{{c.convocatory_id}}" class="btn btn-danger">Borrar</a></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endblock %}