
:root {
  --color1: #087F8C;
  --color2: #FFBF00;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.fn {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;  
  
}
.img {
 
  width: 60%;
}


/* Grupo formulario */
.form{
  position: relative;
  width: 40%;
  background-color: #FFFFFF;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
}

h3, h2{
  margin: 0px;
}


/* Realizar donacion boton */
.primary-btn {
  font-family: 'DM Sans', sans-serif;
  color: white;
  padding: 0.9rem 1.5rem;
  background: var(--color1);
  border-radius: 1rem;
  box-shadow: none;
  border: none;
  text-decoration: none;
}
button {
  font-size: 19px;
  transition: 200ms;
  font-weight: bold;
  cursor: pointer;
  
}

button:hover {
  filter: brightness(1.2);
}

button:active {
  scale: 0.95;
}


/* input */
.input {
  box-sizing: border-box;
  position: relative;
  width: 384px;
  padding: 1rem 0rem;
  border: 1.5px solid #545454;
  border-radius: 16px;
  padding: 8px;
  display: flex; /* agregar esto para centrar verticalmente el input */
  justify-content: center; /* agregar esto para centrar horizontalmente el input */
}

  /*Estás a punto de donar a  */
.label{  
  position: relative;
  width: 375px;
  height: 43px; 

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 135%;
  /* or 43px */
  color: #011627;
} 

.group{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

}

/* Panes qué bendición  */
.green{  
  
  font-weight: 700;  
  color: #087F8C;
}




/************************************************************************************************** */
/* CSS SuccessfulDonation*/
/************************************************************************************************** */

.fn2 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;  
  align-items: center;
  justify-content: center;


}
.imgBackground {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
}
.form2{
  
  position: relative;
  width: 50%;
  background-color: #FFFFFF;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  
}


.container {
    
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  
  
}



@media screen and (max-width: 900px) {
  .fn{
    flex-direction: column-reverse;
  }
}