{% extends 'auth_base.html' %}

{% block content%}

<div class="main has-background-radial-t">
  <style>
    .center {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .main {
      width: 100vw;
      height: 100vh;
    }

    .col {
      display: flex;
      flex-direction: column;
    }
    
    .g05 {
      gap: 0.5rem;
    }

    .center {
      justify-content: center;
      align-items: center;
    }
    
    .responsive {
      padding: 4rem;
      width: 30vw;
    }

    @media only screen and (max-width: 1200px) {
      .responsive {
        width: 75vw;
      }

      .center {
        width: 100vw;
        flex-direction: column;
        align-content: center;
        position: relative;
      }

      .main {
        padding: 1rem 0;
      }
    }

    @media only screen and (max-width: 650px) {
      .responsive {
        padding: 2rem;
        width: 95vw;
      }
    }
  </style>
  <div class="center box is-raised responsive">
    <center class="mb2">
      <h3 class="title is-family-primary">Entrar a Knowledge Projects</h3>
    </center>

    <form class="mb3" method="post">
      {% csrf_token %}

      <div class="col g05 mb1">
        <label class="has-text-weight-medium" for="username">Usuario</label>
        <input name="username" class="input"></input>
      </div>

      <div class="col g05 mb2">
        <label class="has-text-weight-medium" for="password">Contraseña</label>
        <input name="password" class="input" type="password"></input>
        <a href="#!">Olvidé mi contraseña</a>
      </div>

      <button type="submit" class="button is-primary is-medium" style="width: 100%;">Iniciar sesión</button>
    </form>

    <center>
      <p class="mb-0">¿No tienes cuenta? <a href="{% url 'auth:register' %}">Crea una</a></p>
    </center>
  </div>
</div>

{% endblock %}