{% extends 'auth_base.html' %}

{% block content%}

<div class="main has-background-radial-t" style="overflow-y: scroll;">
    <style>
        .center {
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .main {
            width: 100vw;
            height: 100vh;
        }

        .rw {
            display: flex;
            flex-direction: row;
        }

        .col {
            display: flex;
            flex-direction: column;
        }

        .rw .expanded {
            width: max-content;
        }

        .col .expanded {
            height: max-content;
        }

        .g05 {
            gap: 0.5rem;
        }

        .responsive {
            padding: 4rem;
            width: 45vw;
        }

        @media only screen and (max-width: 1400px) {
            .responsive {
                width: 75vw;
            }

            .main {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1rem 0rem;
            }
        }

        @media only screen and (max-width: 800px) {
            .center {
                display: flex;
                flex-direction: column;
                position: relative;
                top: 0;
                left: 0;
                transform: translate(0%, 0%);
            }

            .responsive {
                padding: 2rem;
                width: 95vw;
            }
        }
    </style>
    <div class="center box is-raised responsive">
        <center class="mb2">
            <h3 class="title is-family-primary">Sé parte de Knowledge Projects</h3>
        </center>

        <form method="post" class="resp columns is-multiline">
            {% csrf_token %}

            <div class="column is-4">
                <div class="field">
                    <label for="username" class="label">Nit</label>
                    <input name="username" class="input" type="text">
                </div>
            </div>

            <div class="column is-8">
                <div class="field">
                    <label for="address" class="label">Dirección</label>
                    <input name="address" class="input" type="text">
                </div>
            </div>

            <div class="column is-8">
                <div class="field">
                    <label for="name" class="label">Nombre</label>
                    <input name="name" class="input" type="text">
                </div>
            </div>
            <div class="column is-4">
                <div class="field">
                    <label for="phone_number" class="label">Teléfono</label>
                    <input name="phone_number" class="input" type="text">
                </div>
            </div>

            <div class="column is-8">
                <div class="field">
                    <label for="representative_name" class="label">Nombre representante</label>
                    <input name="representative_name" class="input" type="text">
                </div>
            </div>
            <div class="column is-4">
                <div class="field">
                    <label for="phone_number_representative" class="label">Tel. representante</label>
                    <input name="phone_number_representative" class="input" type="text">
                </div>
            </div>

            <div class="column is-6">
                <div class="field">
                    <label for="password" class="label">Contraseña</label>
                    <input type="password" name="password" class="input" type="text">
                </div>
            </div>
            <div class="column is-6">
                <div class="field">
                    <label for="password" class="label">Confirmar Contraseña</label>
                    <input type="password" name="password_confirmation" class="input" type="text">
                </div>
            </div>

            <button type="submit" class="button is-primary mb1" style="width: 100%;">Registrarse</button>

        </form>

        <center>
            <p class="mb-0">Ya tienes cuenta? <a href="{% url 'auth:login' %}">Inicia sesión</a></p>
        </center>
    </div>
</div>


{% endblock %}