{% extends 'base.html' %}

{% load static %}

{% block htmlhead %}
<link rel="stylesheet" href="{% static 'categories_view_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock htmlhead %}

{% block content %}

<div>
    <center class="mb3">
        <h3 class="title is-family-primary" style="margin-bottom: 0;">Categorías</h3>
        <h2 class="title is-family-primary">Innovación en todos los campos</h2>
    </center>
    <div id="grid">
        {% for x in data %}
        <div class="box is-raised">
            <center>
                <div class="circle mb1">
                    <i class="fa-solid {% autoescape off %}{{ x.icon_src }}{% endautoescape %}"
                        style="font-size:50px;color:#FFBF00"></i>
                </div>
                <div style="height: 10.5rem;">
                    <div class="mb2">
                        <h4 class="title is-family-primary" style="margin-bottom: 0.5rem !important;">
                            {{x.category_name}}</h4>
                        <p class="mb1 text-limiter">{{x.description}}</p>
                    </div>
                    <a class="is-regular is-underlined" href="{% url 'core:gallery' %}?lang={{x.category_id}}">
                        Conocer proyectos
                    </a>
                </div>
            </center>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}