{% extends 'base.html' %}

{% load static %}

{% block htmlhead %}
<link rel="stylesheet" href="{% static 'donation_style.css'%}">
{% endblock %}


{% block content %}
{%for x in card%}
<div style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center;">                        
    <form method="post" class="box is-raised" style="width: fit-content; display: flex; flex-direction: row; gap: 2rem; align-items: center;">
        <img class="img" src="{{x.img.url}}" alt="Imagen" style="object-fit: cover; width: 16rem; height: 20rem; border-radius: 12px;">
        {% csrf_token %}
        <div>
            <div class="mb2">
                <p class="has-text-weight-medium mb1">Estás a punto de convertirte en<br> beneficiario de..</p>
                <h2 class="title is-family-primary">{{x.project_name}}</h2>
            </div>
            <div class="mb1">
                <label for="{{ form.email.id_for_label }}">Correo Electrónico:</label>
                {{ form.email}}
            </div>
            
            <button type="submit" class="button is-primary" style="background-color:#087F8C;color:white">Inscribirme</button>
        </div>
    </form>
</div>
{%endfor%}
{% endblock %}