{% extends 'base.html' %}

{% load static %}

{% block htmlhead %}
<link rel="stylesheet" href="{% static 'gallery_style.css' %}">
{% endblock htmlhead %}

{% block content %}

<div>
  <center class="mb3">
    <h3 class="title is-family-primary" style="margin-bottom: 0;">Galería</h3>
    <h2 class="title is-family-primary">Conoce nuestras causas</h2>
  </center>

  <div id="grid">
    {%for x in card%}
    <div class="box is-raised">
      <img src="{{x.img.url}}" class="card-image mb-05">
      <div style="height: 12rem;">
        <div class="ex-v mb1">
          <span class="tag mb1">{{x.category.category_name}}</span>
          <h4 class="title is-family-primary" style="margin-bottom: 0.5rem !important;">{{x.project_name}}</h4>
          <p class="mb1 text-limiter">{{x.project_description}}</p>
        </div>
        <a class="button is-small is-primary" href="{% url 'core:project' %}?lang={{x.project_id}}">
          Conocer más
        </a>
      </div>
    </div>
    {%endfor%}
  </div>
</div>

{% endblock %}