{% extends 'base.html' %}

{% block content%}

<div class="main">
    <style>
        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .rw {
            display: flex;
            flex-direction: row;
        }

        .col {
            display: flex;
            flex-direction: column;
        }

        .rw .expanded {
            width: max-content;
        }

        .col .expanded {
            height: max-content;
        }

        .g05 {
            gap: 0.5rem;
        }

        .responsive {
            padding: 4rem;
            width: 45vw;
        }

        @media only screen and (max-width: 1400px) {
            .responsive {
                width: 75vw;
            }

            .main {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1rem 0rem;
            }
        }

        @media only screen and (max-width: 800px) {
            .center {
                display: flex;
                flex-direction: column;
                position: relative;
                top: 0;
                left: 0;
                transform: translate(0%, 0%);
            }

            .responsive {
                padding: 2rem;
                width: 100%;
            }
        }
    </style>
    <div class="box is-raised responsive">
        <center class="mb2">
            <h3 class="title is-family-primary">Postula tu iniciativa</h3>
        </center>

        <form method="post" class="resp columns is-multiline">
            {% csrf_token %}

            <div class="column is-12">
                <div class="field">
                    <label for="{{form.suggestion_name.id_for_label}}" class="label">Nombre del proyecto</label>
                    <input name="suggestion_name" class="input" type="text">
                </div>
            </div>

            <div class="column is-12">
                <div class="field">
                    <label for="{{ form.suggestion_description.id_for_label }}" class="label">Descripción</label>
                    <input name="suggestion_description" class="input" type="text">
                </div>
            </div>

            <div class="column is-12">
                <div class="field">
                    <label for="{{ form.suggestion_work_plan.id_for_label }}" class="label">Plan de trabajo</label>
                    <input name="suggestion_work_plan" class="input" type="text">
                </div>
            </div>
            <div class="column is-12">
                <div class="field">
                    <label for="{{ form.suggestion_budget.id_for_label }}" class="label">Posible presupuesto</label>
                    <input name="suggestion_budget" class="input" type="text">
                </div>
            </div>
            
            <div class="column is-12"><button type="submit" class="button is-primary mb1" style="width: 100%;">Enviar</button></div>
        </form>
    </div>
</div>


{% endblock %}